.channel-create-container{
    border: 1px solid red;
}

.channel-create-form {
    width: 440px;
    height: 440px;
    /* border: 1px solid red; */
    padding: 25px;
    color: rgb(209 210 211);
    background-color: rgb(26, 29, 33);
    border-radius: 10px;
}

.channel-create-form h1 {
    font-size: 30px;
    font-weight: 900;
}

.channel-create-form p {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.channel-create-inputs {
    display: flex;
    flex-direction: column;
}

.channel-create-inputs label {
    margin-bottom: 5px;
}

.channel-create-inputs input {
    margin-bottom: 20px;
    background-color: rgb(26, 29, 33);
    border: 0.1em solid rgb(209 210 211);
    resize: none;
    height: 35px;
    color: rgb(209 210 211);
    padding: 5px;
    font-size: 17px;
    padding-left: 10px;
}

.make-private-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.make-private-text {
    width: 60%;
}

.channel-create-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.channel-create-submit input {
    width: 80px;
    height: 40px;

}

.close-modal-x {
  display: flex;
  justify-content: flex-end;
}

.close-modal-button {
  height: 20px;
  width: 20px;
  filter:invert(100%); 
  transform: rotate(45deg);
  transition: 0.3s;

}

.close-modal-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: white;
    transform: rotate(225deg);
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0, 118, 10);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0, 118, 10);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}