.modal-screen {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.modal-render {
    background-color: #222629;
    border: 1px solid gray;
    border-radius: 5px;
    top: 10%;
    bottom: 35%;
    left: 15%;
    /* right: 79%; */
    z-index: 6;
    position: absolute;
    width: 492px;
    overflow: hidden;
}