.sidebar-main-container {
    border: 0.1em solid rgb(58,61,64);
    background-color: rgb(25,24,29);
    height: 95vh;
    min-width: 220px;
    color: white;
}

.username-container {
    height: 45px;
    border-bottom: 0.1em solid rgb(58,61,64);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.dropdown img {
    width: 10px;
    height: 10px;
    filter:invert(90%); 
    transform: rotate(180deg);
}

.channel-list-container {
    margin-top: 40px;
    margin-left: 20px

}

.channel-img-contain {
    display: flex;
    justify-content: space-between;
}

.dm-img-contain {
    display: flex;
    justify-content: space-between;
}

.channel-img-contain img {
    width: 15px;
    height: 15px;
    filter:invert(100%);
    padding-right: 15px;
}

.dm-img-contain img {
    width: 15px;
    height: 15px;
    filter:invert(100%);
    padding-right: 15px;
}

.channel-name {
    font-size: 18px;
}

.channel-list {
    font-size: 14px;
    margin-left: 10px;
}

.channel-list li {
    padding-top: 10px;
    list-style: none;
    color: #a3a3a6;
}

.channel-list a {
    color: #a3a3a6;

}

.dm-list-container {
    margin-top: 40px;
    margin-left: 20px
}

.dm-name {
    font-size: 18px;
}

.dm-list {
    font-size: 14px;
    margin-left: 10px;
}

.dm-list li {
    padding-top: 10px;
    list-style: none;
    color: #a3a3a6;
}

.dm-list a {
    color: #a3a3a6;

}

/* dropdown CSS ********** */

.dropdown {
  position: relative;
  display: inline-block;
}

.username-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(34, 37, 41);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .username-dropdown-content {
  display: block;
  border-radius: 10px;
}