.sidebar-main-container {
    border: 0.1em solid rgb(58, 61, 64);
    background-color: rgb(25, 24, 29);
    height: 100vh;
    min-width: 220px;
    color: white;
    /* position: absolute; */
}

.username-container {
    height: 45px;
    border-bottom: 0.01em solid rgb(58, 61, 64);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.username-container > img {
    width: 30px;
    height: 30px;
    filter:invert(70%); 
    cursor: pointer;
    transition: 0.2s;
}

.username-container > img:hover{
    filter:invert(100%); 
}

.username-img-flex-container{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 0.01em solid rgb(58, 61, 64);
    padding-left: 20px;
    padding-right: 20px;
    /* justify-content: space-between; */
}

.username-img-flex-container img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.dropdown-current-username img {
    width: 10px;
    height: 10px;
    filter:invert(90%); 
    /* transform: rotate(180deg); */
      transition: 0.3s;
}

.dropdown-current-info-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown-current-email {
    font-size: 10px;
}

.sidebar-dropdown-links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar-dropdown-links a {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar-dropdown-links a:hover{
    background-color: rgb(49, 49, 181);
}

.channel-list-container {
    margin-top: 40px;
    /* margin-left: 20px */
}

.channel-img-contain {
    display: flex;
    justify-content: space-between;
}

.dm-img-contain {
    display: flex;
    justify-content: space-between;
}

.channel-img-contain img {
    width: 15px;
    height: 15px;
    filter:invert(100%);
    padding-right: 15px;
    padding-bottom: 15px;
}

.channel-img-contain img:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: white;
}

.dm-img-contain img {
    width: 15px;
    height: 15px;
    filter:invert(100%);
    padding-right: 15px;
    padding-bottom: 15px;

}

.dm-img-contain img:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: white;
}

.channel-name {
    font-size: 18px;
    padding-left: 15px;
}

.channel-list {
    font-size: 14px;
    /* margin-left: 10px; */
}

.channel-list-item {
    /* padding: 5px; */
    list-style: none;
    color: #a3a3a6;
    transition: 0.5s;
}

.channel-list-item img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.channel-list-item.active {
    background-color: rgb(49, 49, 181) !important;
    border-radius: 18px;
}

.channel-list-item:hover {
    background-color: rgb(35, 35, 36);
}

.channel-list a {
    color: #a3a3a6;
    padding-left: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dm-list-container {
    margin-top: 40px;
    /* margin-left: 20px */
}

.dm-name {
    font-size: 18px;
    padding-left: 15px;
}

.dm-list {
    font-size: 14px;
    /* margin-left: 10px; */
}

/* .dm-list li {
    padding-top: 10px;
    list-style: none;
    color: #a3a3a6;
} */

.dm-list a {
    color: #a3a3a6;
    padding-left: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidebar-online-indicator.online{
    background-color: green;
    height: 6px;
    width: 6px;
    border: 2px solid white;
    border-radius: 5px;
}

.sidebar-online-indicator.offline{
    background-color: black;
    height: 6px;
    width: 6px;
    border: 2px solid white;
    border-radius: 5px;
}

/* dropdown CSS ********** */

.dropdown {
  position: relative;
  display: inline-block;

}

.username-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(34, 37, 41);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
    border: 0.01em solid rgb(58, 61, 64);

}

.dropdown.active .username-dropdown-content {
  display: block;
  border-radius: 10px;
  margin-top: 10px;
}

.dropdown.active .dropdown-current-username img {
    transform: rotate(180deg);
}

.dropdown-current-username {
    cursor: pointer;
}