.main {
    display: flex;
    /* flex-direction: row; */
    /* width: 70%; */
    padding-left: 20px;
    padding-right: 20px;
    position: sticky; top: 0;
    z-index: 1;
    background-color: white;
    border: 1px solid #611f69;
    border-radius: 40px;
    height: 70px;
    width: 70%;
    min-width: 796px;
}

nav {
    position: relative;
    display: flex;
    /* flex-direction: row; */
    perspective: 600px;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    text-align: center;
}

.app-name-logo {
    display: flex;
    margin-left: 15px;
}

.app-name-logo img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.app-name-logo h1 {
    font-size: 25px;
}

.right-header-container {
    display: flex;
    align-items: center;
}

.right-header-container > a {
    margin-right: 20px;
    font-weight: bold;
}

.right-header-container > a:hover {
    text-decoration: underline;  
    cursor: pointer; 
}

.greeting-list>li>a {
color: black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    /* margin: 6px; */
    margin: 20px;
    /* padding: 10px 20px; */
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
}

.get-started-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #611f69;
    color: white;
    text-align: center;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.get-started-button:hover {
    transform: scale(1.1);
    text-decoration: none !important;
}

.get-started-button a {
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting-list>li {
    position: relative;
    display: flex;
    justify-content: center;
}

.follow-dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -33px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
    text-align: start;
    color: white;
}

.trigger-enter .follow-dropdown {
    display: block;
}

.trigger-enter-active .follow-dropdown {
    opacity: 1;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #611f69;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.dropdownBackground.open {
    opacity: 1;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.bio img {
    height: 260px;
    float: left;
    margin-right: 20px;
}

.courses {
    min-width: 300px;
}

.courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.follow-dropdown a {
    text-decoration: none;
    color: #ffc600;
}

a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*=linkedin] {
    background: #2b66c2;
}

.button[href*=Portfolio] {
    background: #508a3b;
}

.button[href*="github.com"] {
    background: #ffc600;
}