
.user-search-container {
    width: 440px;
    height: 487px;
    /* border: 1px solid red; */
    padding: 25px;
    color: rgb(209, 210, 211);
    background-color: rgb(26, 29, 33);
    border-radius: 10px;
}

.user-search-header {
    margin-bottom: 20px;
    font-size: 30px;
}




/* User Search CSS ************* */
.dm-user-search-container {
    height: 90%;
    color: rgb(209, 210, 211);
}

input.dm-user-search-input {
  margin: 0;
  /* text-align: center; */
  outline: 0;
  background-color: rgb(26, 29, 33);
  color: rgb(209, 210, 211);
  /* border: 10px solid #F7F7F7; */
  width: 98%;
  height: 8%;
  /* left: -10%; */
  /* position: relative; */
  /* top: 10px; */
  /* z-index: 2; */
  border-radius: 5px;
  font-size: 20px;
}

.dm-user-search-items {
  margin: 0;
  padding: 0;
  /* position: relative; */
  /*perspective: 20px;*/
  overflow-y: scroll;
  height: 84%;
}

.dm-user-search-items li {
  background: rgb(26, 29, 33);
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 20px;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.dm-user-search-items li:hover {
  background-color: royalblue;
}

span.dm-username-item {
  font-size: 15px;
}

.hl {
  background: #ffc600;
}






